@media only screen and (min-width: 1263px) {

  h3 {
    background-clip: text;
    background-image: linear-gradient(225deg, #FFC700, #2BFF09);
    -webkit-text-fill-color: transparent;
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    text-shadow: 0px 0px 6.2px #9AFF6D60;
    font-size: 40px;
    text-align: left;
    }
    h4 {
      color: white;
      font-family: 'Jost', sans-serif;
      font-weight: 700;
      text-shadow: 0px 0px 6.2px #2c3d2460;
      font-size: 40px;
      
      }
    
      h5 { 
        font-family: 'Jost', sans-serif;
        font-weight: 700;
        font-size: 36px;
        
        }
    
        
      h6 { 
        font-family: 'Jost', sans-serif;
        font-weight: 700;
        font-size: 28px;
        
        }
      
    
     
    
    section {
      padding-top: 100px;
      padding-bottom: 100px;
    }
    
    a:visited {
      text-decoration: none;
    }
    a:active {
      text-decoration: none;
    }
    a {
      text-decoration: none;
    }
    
      
      .logo {
        height: 6em;
        padding: 1.5em;
        will-change: filter;
        transition: filter 300ms;
      }
      .logo:hover {
        filter: drop-shadow(0 0 2em #646cffaa);
      }
      .logo.react:hover {
        filter: drop-shadow(0 0 2em #61dafbaa);
      }
      
      @keyframes logo-spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
      
      @media (prefers-reduced-motion: no-preference) {
        a:nth-of-type(2) .logo {
          animation: logo-spin infinite 20s linear;
        }
      }
      
      .card {
        padding: 2em;
      }
      
      .read-the-docs {
        color: #888;
      }
      
     
      
     
      .BodyContent {
        display: flex;
        margin-top: 50px;
        margin-right: 10%;
        justify-content: end;
        gap: 50px;
        
      }
      .FirstBubble {
        margin-top: 25px;
        padding: -10%;
        width: 50px;
        filter: drop-shadow(0px 0px 20px #123f05);
        
      }
    
      .EmailBubbleHero {
        filter: drop-shadow(0px 0px 20px #123f05);
    
      }
    
      .GitHubBubbleHero {
        margin-top: -20px;
        filter: drop-shadow(0px 0px 20px #123f05);
      }
      .LinkedInBubbleHero {
        margin-top: 135px;
        filter: drop-shadow(0px 0px 20px #123f05);
      }
      .LastBubble{
        margin-top: 135px;
        margin-left: -40px;
        width: 65px;
        filter: drop-shadow(0px 0px 20px #123f05);
      }
    
      h1 {
        color: #fff;
        font-family: 'Jost', sans-serif;
        font-size: 64px;
        letter-spacing: 3px;
        font-weight: 700;
      }
      h2 {
        color: #fff;
        font-family: 'Jost', sans-serif;
        font-size: 56px;
        letter-spacing: 3px;
        font-weight: 700;
      }
      body {
        background-image: linear-gradient(200deg, #333333, #3E4B21, #325A3D);
        
    
      }
      p {
        font-family: 'Jost', sans-serif;
        font-weight: 500;
      }
    
      .HeroParagraph {
        color:#fff;
        font-size: 24px;
      }
      .HeroSection {
        display: flex;
        margin-left: 8%;
        margin-right: 8%;
        justify-content: space-between;
        margin-top: -20px;
        
      }
      .HeroSectionInformation {
        padding-top: 85px;
        margin-left: 85px;
        display: flex;
        flex-direction: column;
        gap: 50px;
      }
      .HeroSectionImage {
        margin-top: 100px;
        filter: drop-shadow(0px 0px 20px #123f05);
        
      }
      .AboutMe {
        margin-top: 100px;
        margin-left: 8%;
        margin-right: 8%;
        display: flex;
        align-items: center;
      }
      
      .AboutMeTitle {
        display: flex;
        align-items: center;
        
      }
      .AboutMeLine {
        height: 4px;
        width: 227px;
        background-color: #5BB14B;
        margin-left: 25px;
      }
      .AboutMeInformation {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 40px;
      }
    
      .AboutMeInformation p {
        color: #fff;
        font-size: 20px;
      }
      .Technologies {
        display: flex;
        gap: 20px;
      }
      .Technologies img {
        width: 75px;
        border-radius: 50px 0 0 50px;
      }
    
      .AboutMePhoto {
        text-align: center;
        width: 50%;
        
        
      }
      .AboutMePhoto img{
        width: 65%;
        
      }
    
      .Projects {
        margin-top: 100px;
        margin-left: 8%;
        margin-right: 8%;
        gap: 100px;
        display: flex;
        flex-direction: column;
        
        
      }
    
      .ProjectsTitle {
        display: flex;
        align-items: center;
        
        
      }
      
      .ProjectsLine {
        height: 4px;
        width: 227px;
        background-color: #5BB14B;
        margin-left: 25px;
      }
      .ProjectInformationParagraph {
        color: white;
        font-size: 20px;
      }
      .ProjectOne {
        display: flex;
        align-items: center;
        gap: 50px;
      }
    
      .ProjectOne h4 {
        text-decoration: underline;
      }
      .ProjectOneInformation {
        width: 50%;
      }
      .ProjectOneImage {
        display: flex;
        width: 50%;
        border: transparent;
        border-radius: 200px;
        filter: drop-shadow(0px 0px 20px #4f7244);
        
      }
    
      .ProjectOneIcons {
        display: flex;
        gap: 10px;
        filter: drop-shadow(0px 0px 20px #4f7244);
      }
    
      .ProjectOneIcons img {
        width: 75px; 
      }
    
      .ProjectNumber {
        background-color: #7EB22F;
        width: 15%;
        text-align: center;
        font-family: 'Jost', sans-serif;
        font-weight: 500;
        color: white;
        font-size: 64px;
        border-radius: 50px 0 0 50px;
        align-items: center;
      }
    
      .ProjectNumber span {
        vertical-align: middle;
        text-align: center;
      }
    
      .ProjectOneImage img {
        width: 85%;
        object-fit: cover;
        border-radius: 0px 50px 50px 0px;
      }
    
      .Aspirations {
        margin-top: 100px;
        margin-left: 8%;
        margin-right: 8%;
        gap: 100px;
        display: flex;
        flex-direction: column;
        
      }
    
      .AspirationsTitle {
        display: flex;
        align-items: center;
        
      }
    
      .AspirationsInformation {
        display: flex;
        border-radius: 25px;
        overflow: hidden;
      }
    
      .AspirationOne {
          width: 33%;
          background-color: #7EB22F ;
          letter-spacing: 2px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding-top: 20px;
          text-align: right;
          height: 60vh;
      }
    
    
    
    
    .AspirationOne h4{
      text-align: center;
      text-shadow: none;
      padding-right: 10px;
      padding-left: 10px;
    }
    
    .AspirationTwo h4{
      text-align: center;
      text-shadow: none;
      padding-right: 10px;
      padding-left: 10px;
    }
    
    .AspirationThree h4{
      text-align: center;
      text-shadow: none;
      padding-right: 10px;
      padding-left: 10px;
    }
    
    
    .AspirationOne h5{
      text-shadow: none;
      color: #000;
    }
    
    .AspirationTwo h5{
      text-shadow: none;
      color: #000;
    }
    
    .AspirationThree h5{
      text-shadow: none;
      color: #000;
    }
    
    
    
    .TimelineOne {
    background-color: #2D2D2D ;
    text-align: center;
       }
    
      .AspirationTwo {
        width: 34%;
        background-color: #5A8D2A ;
        letter-spacing: 2px;
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 20px;
        height: 60vh;
      }
    
      .AspirationTwo i {
        font-size: 100px;
        color: #fff;
        padding-right: 20px;
        cursor: pointer;
      }
      .AspirationThree i {
        font-size: 100px;
        color: #fff;
        padding-right: 20px;
        cursor: pointer;
      }
      .AspirationOne i {
        font-size: 100px;
        color: #fff;
        padding-right: 20px;
        cursor: pointer;
      }
    
      .AspirationThree {
        width: 33%;
        background-color: #2B6E22 ;
        letter-spacing: 2px;
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 20px;
        height: 60vh;
        margin: 0;
      }
    
      @keyframes open {
        from {width: 0%; color: #e0e0e0;}
        to {width: 80%; color: #000;}
      }

      @keyframes close {
        from {width: 80%; color: #000; padding: 25px;}
        to {width: 0%; display: none; color: #e0e0e0; padding: 0px;}
      }
    
    .JIclosed { 
      display: block;
      height: 60vh;
      width: 0%;
      animation-name: close;
      animation-direction: normal;
      animation-duration: 1.25s;
    }
    .JIopen{ 
      display: block;
      width: 80%;
      height: 60vh;
      animation-name: open;
      animation-duration: 1.25s;
      animation-direction: normal;
      padding: 25px;
    }
    
    a {
      color: #fff;
      filter: drop-shadow(none);
    }
    
    .JobInfo {
      
      background-color: #e0e0e0;
      overflow: hidden;
      
    }
    
    .JobList {
      font-family: 'Jost', sans-serif;
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      font-size: 20px;
    }
    .TimelineButtonContainer {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }
    
   
}















/* Mobile Version CSS */

@media only screen and (max-width: 1262px) {
 
  h3 {
    background-clip: text;
    background-image: linear-gradient(225deg, #FFC700, #2BFF09);
    -webkit-text-fill-color: transparent;
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    text-shadow: 0px 0px 6.2px #9AFF6D60;
    font-size: 40px;
    text-align: left;
    }
    h4 {
      color: white;
      font-family: 'Jost', sans-serif;
      font-weight: 700;
      text-shadow: 0px 0px 6.2px #2c3d2460;
      font-size: 40px;
      
      }
    
      h5 { 
        font-family: 'Jost', sans-serif;
        font-weight: 700;
        font-size: 36px;
        
        }
    
        
      h6 { 
        font-family: 'Jost', sans-serif;
        font-weight: 700;
        font-size: 28px;
        
        }
      
    
     
    
    section {
      padding-top: 100px;
      padding-bottom: 100px;
    }
    
    a:visited {
      text-decoration: none;
    }
    a:active {
      text-decoration: none;
    }
    a {
      text-decoration: none;
    }
 
  .BodyContent {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
    gap: 50px;
    padding: 10px;
    
  }
  .FirstBubble {
    margin-top: 25px;
    padding: -10%;
    width: 8vw;
    max-width: 55px;
    filter: drop-shadow(0px 0px 20px #123f05);
    
    
  }

  .EmailBubbleHero {
    filter: drop-shadow(0px 0px 20px #123f05);
    width: 20vw;
    max-width: 150px;

  }

  .GitHubBubbleHero {
    filter: drop-shadow(0px 0px 20px #123f05);
    width: 15vw;
    max-width: 125px;;
  }
  .LinkedInBubbleHero {
    margin-top: 135px;
    width: 17.5vw;
    max-width: 135px;
    filter: drop-shadow(0px 0px 20px #123f05);
  }
  .LastBubble{
    margin-top: 135px;
    width: 10vw;
    max-width: 65px;
    filter: drop-shadow(0px 0px 20px #123f05);
  }

  h1 {
    color: #fff;
    font-family: 'Jost', sans-serif;
    font-size: 64px;
    letter-spacing: 3px;
    font-weight: 700;
  }
  h2 {
    color: #fff;
    font-family: 'Jost', sans-serif;
    font-size: 56px;
    letter-spacing: 3px;
    font-weight: 700;
  }
  body {
    background-image: linear-gradient(200deg, #333333, #3E4B21, #325A3D);
    

  }
  p {
    font-family: 'Jost', sans-serif;
    font-weight: 500;
  }

  .HeroParagraph {
    color:#fff;
    font-size: 24px;
  }
  .HeroSection {
    display: flex;
    margin-left: 8%;
    margin-right: 8%;
    
    margin-top: -20px;
    
  }
  .HeroSectionInformation {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 85px;
  }
  .HeroSectionImage {
    margin-top: 100px;
    filter: drop-shadow(0px 0px 20px #123f05);
    display: none;
  }
  
  .AboutMe {
    margin-top: 100px;
    margin-left: 8%;
    margin-right: 8%;
    display: flex;
    align-items: center;
  }
  
  .AboutMeTitle {
    display: flex;
    flex-direction: column;
    align-items: left;
    
  }
  .AboutMeLine {
    height: 4px;
    width: 227px;
    background-color: #5BB14B;
    
  }
  .AboutMeInformation {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .AboutMeInformation p {
    color: #fff;
    font-size: 20px;
  }
  .Technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .Technologies img {
    width: 75px;
    border-radius: 50px 0 0 50px;
  }

  .AboutMePhoto {
    text-align: center;
    width: 50%;
    display: none;
    
    
  }
  .AboutMePhoto img{
    width: 65%;
    
  }

  .Projects {
    margin-top: 100px;
    margin-left: 8%;
    margin-right: 8%;
    gap: 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
    
  }

  .ProjectsTitle {
    display: flex;
    flex-direction: column;
    align-items: left;
    
    
  }
  
  .ProjectsLine {
    height: 4px;
    width: 200px;
    background-color: #5BB14B;
    
  }
  .ProjectInformationParagraph {
    color: white;
    font-size: 20px;
  }
  .ProjectOne {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .ProjectOne h4 {
    text-decoration: underline;
  }
  .ProjectOneInformation {
    width: 100%;
  }
  .ProjectOneImage {
    display: flex;
    border: transparent;
    border-radius: 200px;
    filter: drop-shadow(0px 0px 20px #4f7244);
    
  }

  .ProjectOneIcons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    filter: drop-shadow(0px 0px 20px #4f7244);
  }

  .ProjectOneIcons img {
    width: 75px; 
  }

  .ProjectNumber {
    background-color: #7EB22F;
    width: 15%;
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 64px;
    border-radius: 50px 0 0 50px;
    align-items: center;
  }

  .ProjectNumber span {
    vertical-align: middle;
    text-align: center;
  }

  .ProjectOneImage img {
    width: 85%;
    object-fit: cover;
    border-radius: 0px 50px 50px 0px;
  }

  .Aspirations {
    margin-top: 100px;
    margin-left: 8%;
    margin-right: 8%;
    gap: 100px;
    display: flex;
    flex-direction: column;
    
  }

  .AspirationsTitle {
    display: flex;
    align-items: center;
    
  }

  .AspirationsInformation {
    display: flex;
    border-radius: 25px;
    overflow: hidden;
    flex-direction: column;
  }

  .AspirationOne {
      width: 100%;
      background-color: #7EB22F ;
      letter-spacing: 2px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 20px;
      text-align: center;
      height: 40vh;
  }




.AspirationOne h4{
  text-align: center;
  text-shadow: none;
}

.AspirationTwo h4{
  text-align: center;
  text-shadow: none;
}

.AspirationThree h4{
  text-align: center;
  text-shadow: none;
}


.AspirationOne h5{
  text-shadow: none;
  color: #000;
}

.AspirationTwo h5{
  text-shadow: none;
  color: #000;
}

.AspirationThree h5{
  text-shadow: none;
  color: #000;
}



.TimelineOne {
background-color: #2D2D2D ;
text-align: center;
   }

  .AspirationTwo {
    width: 100%;
    background-color: #5A8D2A ;
    letter-spacing: 2px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    height: 40vh;
  }

  .AspirationOne a {
    padding-right: 20px;
  }

  .AspirationTwo a {
    padding-right: 20px;
  }
  .AspirationThree a {
    padding-right: 20px;
  }

  .AspirationTwo i {
    font-size: 100px;
  }
  .AspirationThree i {
    font-size: 100px;
  }
  .AspirationOne i {
    font-size: 100px;
  }

  .AspirationThree {
    width: 100%;
    background-color: #2B6E22 ;
    letter-spacing: 2px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    height: 40vh;
    margin: 0;
  }




@keyframes open {
  from {height: 0vh; color: #e0e0e0;}
  to {height: 65vh; color: #000;}
}

@keyframes close {
  from {height: 65vh; color: #000; padding: 25px;}
  to {height: 0vh; display: none; color: #e0e0e0; padding: 0px;}
}

.JIclosed { 
display: block;
height: 0vh;
width: 100%;
animation-name: close;
animation-direction: normal;
animation-duration: 1.25s;

}
.JIopen{ 
display: block;
width: 100%;
height: 65vh;
animation-name: open;
animation-duration: 1.25s;
animation-direction: normal;
padding: 25px;
}


.JobInfo {
  
  background-color: #e0e0e0;
  overflow: hidden;
}

.JobList {
  font-family: 'Jost', sans-serif;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;
}
.TimelineButtonContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: #fff;
}
.JobTitle h4 {
  font-size: 48px;
}
a {
  color: #fff;
  filter: drop-shadow(none);
}



}

    
   
