h2 {
background-clip: text;
background-image: linear-gradient(225deg, #FFC700, #2BFF09);
-webkit-text-fill-color: transparent;
font-family: 'Jost', sans-serif;
font-weight: 700;
text-shadow: 0px 0px 6.2px #9AFF6D60;
font-size: 40px;
text-align: left;
}

  
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }
  
  .progressMainWrapper {
    background-color: rgb(72, 88, 0);
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    width: 15px;
    border-radius: 10px;
    float: right;
  }
  
  .progressMainStyle {
    height: 15px;
    background-color: #10c400;
    width: 100%;
    border-radius: 10px;
  }
  .BodyContent {
    display: flex;
    text-align: right;
    margin-right: 8%;
    
  }
  .FirstBubble {
    margin-top: 200px;
  }

  .GitHubBubbleHero {
    margin-top: -50px;
  }
  .LinkedInBubbleHero {
    margin-top: 200px;
  }

  h1 {
    color: #fff;
    font-family: 'Jost', sans-serif;
    font-size: 64px;
    letter-spacing: 3px;
  }
  body {
    background-image: linear-gradient(200deg, #333333, #3E4B21, #325A3D);

  }
  p {
    font-family: 'Jost', sans-serif;
    font-weight: 500;
  }

  .HeroParagraph {
    color:#fff;
    font-size: 24px;
  }
  .HeroSection {
    display: flex;
    margin-left: 8%;
    margin-right: 8%;
    justify-content: space-between;
    
  }
  .HeroSectionInformation {
    padding-top: 85px;
    margin-left: 85px;
  }