@media only screen and (min-width: 1263px) {

.NavBar {
  display: flex;
  margin: 50px;
  margin-top: 25px;
  padding: 20px 30px 20px 30px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  position: sticky;
  top: 10px;
  z-index: 100;
  background-color: #00000070;
  border-radius: 50px;
    
  }

  .NavBarLogo img {
    width: 150px;
  }
  
  .NavBar nav {
    padding-top: auto;
    padding-bottom: auto;
    text-align: center;
    
  }
  .NavBar li {
    display: inline;
    padding-right: 65px;
    padding-left: 65px;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  .NavBar a {
    text-decoration: none;
    color: #fff;
  }
  .NavBar a:active{
    text-decoration: none;
    color: #fff;
  }
  .NavBar a:visited{
    text-decoration: none;
    color:#fff;
  }
  .NavBar li:hover{
    text-decoration: none;
    color:greenyellow;
    cursor: pointer;
  }
  .progressMainWrapper {
    background-color: rgb(72, 88, 0);
    height: 98vh;
    position: sticky;
    top: 10px;
    left: 0;
    z-index: 1;
    width: 15px;
    border-radius: 10px;
    float: right;
    margin-right: 15px;
    
  }

  .progressMainStyle {
    height: 15px;
    background-color: #10c400;
    width: 100%;
    border-radius: 10px;
  }
 
  .ContactButton {
    background-color: white;
    border-radius: 30px;
    color: #282828;
    font-family: 'Jost', sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
  
  }

  .Burger {
    font-size: 24px;
    fill: #fff;
    display: none;
  }

  .MobileNav {
    display: none;
  }



}


/* Mobile Version */

@media only screen and (max-width: 1262px) {

  .NavBar {
    display: flex;
    margin: 50px 50px 0px 50px;
    margin-top: 25px;
    padding: 20px 30px 20px 30px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    top: 10px;
    z-index: 100;
    background-color: #00000090;
    border-radius: 50px;
      
    }
  
    .NavBarLogo img {
      width: 25vw;
      max-width: 150px;
    }
    
    .NavBar nav {
      padding-top: auto;
      padding-bottom: auto;
      text-align: center;
      display: none;
      
    }
    .NavBar li {
      display: inline;
      padding-right: 65px;
      padding-left: 65px;
      font-family: 'Jost', sans-serif;
      font-size: 16px;
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
    .NavBar a {
      text-decoration: none;
      color: #fff;
    }
    .NavBar a:active{
      text-decoration: none;
      color: #fff;
    }
    .NavBar a:visited{
      text-decoration: none;
      color:#fff;
    }
    .NavBar li:hover{
      text-decoration: none;
      color:greenyellow;
      cursor: pointer;
    }
    .progressMainWrapper {
      background-color: rgb(72, 88, 0);
      height: 98vh;
      position: sticky;
      top: 10px;
      left: 0;
      z-index: 1;
      width: 15px;
      border-radius: 10px;
      float: right;
      margin-right: 15px;
      
    }
  
    .progressMainStyle {
      height: 15px;
      background-color: #10c400;
      width: 100%;
      border-radius: 10px;
    }
   
    .ContactButton {
      background-color: white;
      border-radius: 30px;
      color: #282828;
      font-family: 'Jost', sans-serif;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-right: 30px;
      padding-left: 30px;
      font-size: 16px;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 3px;
      display: none;
    
    }
    .ContactButton2 {
      background-color: white;
      border-radius: 0px 0px 30px 30px;
      color: #282828;
      font-family: 'Jost', sans-serif;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-right: 30px;
      padding-left: 30px;
      font-size: 16px;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 3px;
      text-align: center;
      
    
    }
    .ContactButton2:hover {
      background-color: #282828;
      color: #fff;

    }

    .Burger {
      font-size: 40px;
      fill: #fff;
      cursor: pointer;
    }

 


    .MobileNav {
      position: sticky;
      top: 98px;
      z-index: 100;
      margin: 0px 50px 50px 50px;
    }
    
    .MobileNav nav {
      display: flex;
      flex-direction: column;
      gap: 10px;
      list-style: none;
      background-color: #00000090;
      border-radius: 0px 0px 30px 30px;
      text-align: center;
      font-family: 'Jost', sans-serif;
      padding-top: 10px;
    }

    .MobileNav li {
      font-size: 20px;
      font-weight: 500;
      color: #fff;
    }
    .MobileNav li:hover {
      color:greenyellow;
      cursor: pointer;
    }
    
  
    .open {
      display: block;
    }   

    .closed {
      display: none;
    }

  }