.Footer {
    display: flex;
    gap: 250px;
    justify-content: center;
    background-color: rgb(44, 44, 44);
    padding-top: 90px;
    padding-bottom: 90px;
    
 }

 .Contacts {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    font-family: 'Jost', sans-serif;
    font-size: 24px;

 }
 .Contacts a:hover {
    color: greenyellow;
 }